# Local executable binaries
*.exe
check-build.exe
ikuai-portal.exe

# Local configs and dynamic logs
config.yaml
*.log

# Whitelist compiled binaries requested by user
!wifi.exe
!wifi

# Ignore all markdown files except the main README.md in tools/ikuai-portal
*.md
**/*.md
!README.md
